<template>
	<div>
    <li class="list-group-item" :class='className'>
    	<slot></slot>
        <div id="time">{{ time }}</div>
        <!-- <span id="time">{{ time }}</span> -->
    </li>
    <small class="badge float-right" :class='badgeClass'> {{ user }}</small>
    </div>
</template>

<script>
    export default {
    	props:[
    	'color',
        'user',
        'time'
    	],
    	computed:{
    		className(){
    			return 'list-group-item-'+this.color;
    		},
            badgeClass(){
                return 'badge-'+this.color;
            }
    	},
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style>
    #time{
        font-size: 10px;
        font-family: verdana;
        color: black
    }
</style>